footer{
    color: white;
    background-color: $orange;
    height: 800px;
    .footer-wrapper{
        padding-top: 100px;
        @include widthOfBlock;
        display: flex;
        flex-direction: column;

        .main-footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .margin-top{
                margin-top: 0;
            }
            h2{
                padding-bottom: 50px;
                text-transform: uppercase;
                font-family: "Montserrat - Black";
                font-size: 23px;
                font-weight: 700;
            }
            
            .footer-info{
                width: 250px;
                div{
                    display: flex;
                    flex-direction: row;
                    img{
                        height: 40px;
                        width: 40px;
                    }
                }
            }
            .footer_contact-us{
                width: 30%;
                color: white;
                form{
                    display: flex;
                    flex-direction: column;
                    color: white;
                    input{
                        color: white;
                        height: 42px;
                        border-radius: 3px;
                        border: 1px solid #ffffff;
                        margin-bottom: 10px;
                        background-color: $orange;
                    }
                    .big-input{
                        color: white;
                        height: 100px;
                        border-radius: 3px;
                        border: 1px solid #ffffff;
                    }
                    button{
                        width: 137px;
                        height: 45px;
                        border-radius: 5px;
                        background-color: #ffffff;
                        border-color: #ffffff;
                        color: $orange;
                    }
                    
                    input::-webkit-input-placeholder {
                        color: white;
                        padding-left: 8px;
                    }
                    .big-input::-webkit-input-placeholder{
                        vertical-align: top;
                    }
                }
            }
            .footer_latest-news{
                width: 25%;
             
                div{
                    p{
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 25px;
                        span{
                            font-style: italic;
                        }
                    }
                }
            }
        }
        .super-footer{
            display: flex;
            justify-content: center;
            margin-top: 150px;
            
        }
    }
}