@mixin flexCenter{
    display: flex;
    justify-content: center;
}

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}
@mixin width{
    margin: 0px 100px 0px 100px;
}