@mixin flexCenter{
    display: flex;
    justify-content: center;
}

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
}
@mixin flexSpaceAround {
    display: flex;
    justify-content: space-around;
}
@mixin width{
    margin: 0px 100px 0px 100px;
}
@mixin widthOfBlock{
    width: 1140px;
    margin: 0 auto;
}
@mixin nameBackgroundGreen{
    @include widthOfBlock;
    height: 245px;
    background-color: $green;
    @include flexCenter;
    align-items: center;
    opacity: 0.85;
}
@mixin nameBackgroundOrange{
    @include widthOfBlock;
    height: 245px;
    background-color: $orange;
    @include flexCenter;
    align-items: center;
    opacity: 0.85;
}