<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="./css/vendor.min.css">
  <link rel="stylesheet" href="./css/googleFonts.min.css">
  <link rel="stylesheet" href="./css/contact-us.min.css">
</head>

<body>
  <div class="header-container">
    <div class="header-wrapper">
      <div class="header">
        <span class="header-register">
          Register for FREE! | Login
        </span>
        <div class="header-contacts">
          <span><i class="fas fa-phone"></i> +009 998 885 550</span>
          <span><i class="fas fa-envelope"></i> Youremailhere@gmail.com</span>
        </div>
        <div class="header_social-media">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <div class="sub-header">
      <div class="sub-header-container">
        <div class="sub-header_logo">
          <img src="../images/logo.png" alt="">
          <img src="../images/logo-text.png" alt="">
        </div>
        <div class="sub-header_list">
          <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">service</a></li>
            <li><a href="#">case study</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">page</a></li>
            <li><a href="contact-us.html">contact</a></li>
          </ul>
        </div>
        <div class="sub-header_analyze">
          <button>free seo analyze</button>
        </div>
      </div>
    </div>
  </div>

  <main class="container">
    <div class="contact-us_background">

    </div>
    <div class="map">

    </div>
    <div class="map-info">

    </div>
    <div class="contact-inputs">

    </div>
  </main>

  
</body>

</html>