<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor.css">
    <link rel="stylesheet" href="./css/googlefonts.css">
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header">
                <div class="header-register">
                    <a href="">Register for FREE!</a> <span>| </span><a href="">Login</a> 
                </div>
                <div class="header-contacts">
                    <span>+009 998 885 550</span>
                    <span>Youremailhere@gmail.com</span>
                </div>
                <div class="header_social-media">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="sub-header">
            <div class="sub-header-container">
                <div class="sub-header_logo">
                    <img src="../images/logo.png" alt="">
                    <img src="../images/logo-text.png" alt="">
                </div>
                <div class="sub-header_list">
                    <ul>
                        <li>home</li>
                        <li>about</li>
                        <li>service</li>
                        <li>case study</li>
                        <li>bolg</li>
                        <li>page</li>
                        <li>contact</li>
                    </ul>
                </div>
                <div class="sub-header_analyze">
                    <button>free seo analyze</button>
                </div>
            </div>

        </div>
    </div>
    <div class="main">
        <div class="slider"></div>
        <div class="about-us"></div>
        <div class="archive"></div>
        <div class="service"></div>
        <div class="case"></div>
        <div class="email"></div>
        <div class="pakging"></div>
        <div class="team"></div>
        <div class="client"></div>
        <div class="blog"></div>
    </div>
    <footer>
        <div class="footer-wrapper">
            <div class="main-footer">
                <div class="footer-info">
                    <div>
                        <img src="../images/Forma_1.png" alt="">
                        <h2>seo.maza</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor
                        incididunt
                        a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore end<br/></p>

                       <p>Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore<br/></p> 

                        <p>Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod</p>
                </div>
                <div class="footer_contact-us">
                    <h2>contact with us</h2>
                    <form>
                        <input type="text" placeholder = "Your Name Here*">
                        <input type="text" placeholder="Your Email Here*">
                        <input class="big-input" type="text" placeholder="Message*">
                        <button>Submit</button>
                    </form>
                </div>
                <div class="footer_latest-news">
                    <h2>lates news</h2>
                    <div>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="super-footer">
                <p>Copyright © 2018 All Right by Thememarshall..</p>
            </div>
        </div>

    </footer>

</body>

</html>