<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor.min.css">
    <link rel="stylesheet" href="./css/googleFonts.min.css">
    <link rel="stylesheet" href="./css/home.min.css">
</head>

<body>
    <div>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="header">
                    <span class="header-register">
                        Register for FREE! | Login
                    </span>
                    <div class="header-contacts">
                        <span>+009 998 885 550</span>
                        <span>Youremailhere@gmail.com</span>
                    </div>
                    <div class="header_social-media">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <div class="sub-header">
                <div class="sub-header-container">
                    <div class="sub-header_logo">
                        <img src="../images/logo.png" alt="">
                        <img src="../images/logo-text.png" alt="">
                    </div>
                    <div class="sub-header_list">
                        <ul>
                            <li>home</li>
                            <li>about</li>
                            <li>service</li>
                            <li>case study</li>
                            <li>bolg</li>
                            <li>page</li>
                            <li>contact</li>
                        </ul>
                    </div>
                    <div class="sub-header_analyze">
                        <button>free seo analyze</button>
                    </div>
                </div>
            </div>
        </div>










        <div class="main">
            <div class="slider">
                <h1 class="slider-block">Improve Your
                    <span class="orange">Website's</span> Rank On
                    With Us...!</h1>
                <span class="slider-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w eiusmod
                    to a tempor incididunt ut labore et dolore magna ali</span>
                <p class="slider-description-text">Lorem ipsum dolor sit amet, consectetur</p>
                <p class="slider-description-text">Lorem ipsum dolor sit amet, consectetur adipisi top</p>
                <div class="btn-block">
                    <button class="btn">Loren More</button>
                </div>
            </div>
            <div class="slider-image">
                <img src="../images/images.png" alt="">
            </div>
        </div>
        <div class="about-us">
            <div class="about-image">
                <img src="../images/img_hero_1a@2x.png" alt="">
            </div>
            <div class="about">
                <div class="about-text-block">
                    <h1 class="about-title"><span class="orange">Who</span> We Are?</h1>
                    <p class="about-description">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words </p>
                </div>
                <div class="about-container">
                    <section class="about-block">
                        <h4 href="#" class="about-block-title">Web Analytics</h4>
                        <p href="#" class="about-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</p>
                        <p href="#" class="about-block-more">Loren More</p>
                    </section>
                    <section class="about-block">
                        <h4 href="#" class="about-block-title"></h4>
                        <p href="#" class="about-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</p>
                        <p href="#" class="about-block-more">Loren More</p>
                    </section>
                    <section class="about-block">
                        <h4 href="#" class="about-block-title"></h4>
                        <p href="#" class="about-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</p>
                        <p href="#" class="about-block-more">Loren More</p>
                    </section>
                </div>
                <div class="about-info-block">
                    <h4 class="title">Our Company Information...</h4>
                    <p class="about-info-descripion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut in labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud.abore et dolore magna to aliqua. Ut enim ad minim veniam, quis nostrud.Lorem ipsum dolor
                        sit
                        amet, consectetur to a the adipisicing elit, sed do eiusmod tempor incididunt</p>

                    <p class="about-info-descripion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut in
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.abore et dolore magna tit
                        aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                    <p class="about-info-descripion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                </div>

                <div class="btn-block">
                    <button class="btn">Loren More</button>
                    <button class="btn">Loren More</button>
                </div>
            </div>


        </div>
        <div class="archive">
            <div class="achive-container">
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers">698+</span>
                        <span class="achive-names">Project Done</span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers">263+</span>
                        <span class="achive-names">Happy Clients</span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers">69+</span>
                        <span class="achive-names">Awards wins</span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers">1500+</span>
                        <span class="achive-names">Cup of Coffee</span>
                    </div>
                </section>>
            </div>
        </div>
        <div class="service">
            <div class="service-text-block">
                <h1 class="service-title"><span class="orange">Our</span> Best Service</h1>
                <p class="service-description">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words
                </p>
            </div>
            <div class="service-container">
                <section class="service-block">
                    <div class="service-content">
                        <img src="../images/Capa_1.jpg" alt="">
                        <span class="service-block-title">Digital Marketing</span>
                        <span class="service-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</span>
                        <span class="service-block-more">Loren More</span>
                    </div>
                </section>>
                <section class="service-block">
                    <div class="service-content">
                        <img src="../images/Capa_1.jpg" alt="">
                        <span class="service-block-title">Pay Per Click Advertising</span>
                        <span class="service-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</span>
                        <span class="service-block-more">Loren More</span>
                    </div>
                </section>>
                <section class="service-block">
                    <div class="service-content">
                        <img src="../images/Capa_1.jpg" alt="">
                        <span class="service-block-title">Digital Marketing</span>
                        <span class="service-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore</span>
                        <span class="service-block-more">Loren More</span>
                    </div>
                </section>>
            </div>
            <div class="btn-block">
                <button class="btn">Full Services</button>
            </div>
        </div>
        <div class="case">
            <div class="case-text-block">
                <h1 class="case-title"><span class="orange">Our</span> Case Studio</h1>
                <p class="case-description">There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or randomised words </p>
            </div>
            <div class="case-container">
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="../images/case-study1.png" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title">Web Traffic Managment</h4>
                        <p class="case-block-footer-description">SEO, Marketing</p>
                    </div>
                </section>
            </div>
            <button>Full Cases</button>
        </div>
        <div class="email">
            <h2>Receive your free seo report best analysis
                Now...</h2>
            <form>
                <input type="text">
                <button>check Now</button>
            </form>
        </div>
        <div class="pakging">
            <div>
                <h2><span class="orange">Our</span> Case Pricing Plan</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words </p>
            </div>
            <div>
                <section>
                    <div>
                        <img src="../" alt="">
                    </div>
                </section>
                <section></section>
                <section></section>
            </div>
        </div>
        <div class="team"></div>
        <div class="client"></div>
        <div class="blog"></div>
    </div>











    <footer>
        <div class="footer-wrapper">
            <div class="main-footer">
                <div class="footer-info">
                    <div>
                        <img src="../images/Forma_1.png" alt="">
                        <h2>seo.maza</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor
                        incididunt
                        a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod
                        tempor
                        incididunt ut labore end<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod</p>
                </div>
                <div class="footer_contact-us">
                    <h2>contact with us</h2>
                    <form>
                        <input type="text" placeholder="Your Name Here*">
                        <input type="text" placeholder="Your Email Here*">
                        <input class="big-input" type="text" placeholder="Message*">
                        <button>Submit</button>
                    </form>
                </div>
                <div class="footer_latest-news">
                    <h2>lates news</h2>
                    <div>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="super-footer">
                <p>Copyright © 2018 All Right by Thememarshall..</p>
            </div>
        </div>

    </footer>
    </div>
</body>

</html>