<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="./css/vendor.min.css">
  <link rel="stylesheet" href="./css/googleFonts.min.css">
  <link rel="stylesheet" href="./css/service-single.min.css">
</head>

<body>
  <div class="header-container">
    <div class="header-wrapper">
      <div class="header">
        <span class="header-register">
          Register for FREE! | Login
        </span>
        <div class="header-contacts">
          <span><i class="fas fa-phone"></i> +009 998 885 550</span>
          <span><i class="fas fa-envelope"></i> Youremailhere@gmail.com</span>
        </div>
        <div class="header_social-media">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>

    <div class="sub-header">
      <div class="sub-header-container">
        <div class="sub-header_logo">
          <img src="../images/logo.png" alt="">
          <img src="../images/logo-text.png" alt="">
        </div>
        <div class="sub-header_list">
          <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="service-single.html">service</a></li>
            <li><a href="#">case study</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">page</a></li>
            <li><a href="contact-us.html">contact</a></li>
          </ul>
        </div>
        <div class="sub-header_analyze">
          <button>free seo analyze</button>
        </div>
      </div>
    </div>
  </div>

  <main class="container">
    <div class="wrapper">
      <div class="background-wrapper">
        <div class="background-color">
          <div class="service-background">
            <h1>Single Services</h1>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="service-text">
          <div class="text">
            <h2>Best Digital Marketing Inc With Expert Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut in labore
              et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.abore et dolore magna to aliqua. Ut enim ad
              minim
              veniam, quis nostrud.Lorem ipsum dolor sit amet, consectetur to a the adipisicing elit, sed do eiusmod
              tempor incididunt<br /><br/>

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut in labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.abore et dolore magna tit aliqua. Ut enim ad
              minim veniam, quis nostrud.<br /><br/>

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <img src="../images/service-photo-one.png" alt="">
        </div>

        <div class="service-information">
          <img src="../images/service-photo-two.png" alt="">
          <div class="info">
            <h2>Our Service Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do orem ipsum dolor sit amet, consectetur
              to a the adipisicing elit, sed do eiusmod tempor incididunt
            </p>
            <span><i class="fas fa-check"></i>We’re never satisfied with the status quo.</span>
            <span><i class="fas fa-check"></i>We’re always refining our craft which means you’ll always </span>
            <span><i class="fas fa-check"></i>We’re a team of trend setters, mavericks and leaders</span>
            <span><i class="fas fa-check"></i>When we first get to know you, we’ll immediately </span>
            <span><i class="fas fa-check"></i>Lorem ipsum dolor sit amet, consectetur</span>
            <span><i class="fas fa-check"></i>Steps on how you can increase traffic and sales with optimi</span>
          </div>
        </div>
        <div class="service-blocks">
          <section class="service-section">
            <img src="../images/Capa_1.png" alt="">
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit, sed do eiusmod tempor<br/> incididunt ut labore</p>
            <span>Loren More...</span>
          </section>
          <section class="service-section green-block">
            <img src="../images/Capa_1.png" alt="">
            <h3>Pay Per Click Advetising</h3>
            <p>Lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit, sed do eiusmod tempor<br/> incididunt ut labore</p>
            <span>Loren More...</span>
          </section>
          <section class="service-section">
            <img src="../images/Capa_1.png" alt="">
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur<br/> adipisicing elit, sed do eiusmod tempor<br/> incididunt ut labore</p>
            <span>Loren More...</span>
          </section>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-wrapper">
      <div class="main-footer">
        <div class="footer-info">
          <div>
            <img src="../images/Forma_1.png" alt="">
            <h2>seo.maza</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor
            incididunt
            a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod
            tempor
            incididunt ut labore end<br /></p><br /></br>

          <p>Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor
            incididunt ut labore<br /></p><br />

          <p>Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod</p>
        </div>
        <div class="footer_contact-us">
          <h2>contact with us</h2>
          <form>
            <input type="text" placeholder="Your Name Here*">
            <input type="text" placeholder="Your Email Here*">
            <input class="big-input" type="text" placeholder="Message*">
            <button>Submit</button>
          </form>
        </div>
        <div class="footer_latest-news">
          <h2>lates news</h2>
          <div>
            <p>How can be successfull in market seo.maza<br />Market place..</p>
            <br />
            <p><span>13 Feb, 2016 / Business</span></p>
            <br />
            <p>How can be successfull in market seo.maza<br />Market place..</p>
            <br />
            <p><span>13 Feb, 2016 / Business</span></p>
            <br />
            <p>How can be successfull in market seo.maza<br />Market place..</p>
            <br />
            <p><span>13 Feb, 2016 / Business</span></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="super-footer">
        <p>Copyright © 2018 All Right by Thememarshall..</p>
      </div>
    </div>

  </footer>
</body>

</html>